/* Mixins */
@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}

/* Imports */
@import "variables";
@import "partials/navbar";
@import "partials/botones";
@import "partials/texto";
@import "partials/resumen";
@import "partials/contacto";
@import "partials/reparto";


@font-face {
    font-family: $font-general;
    src: url(../fuentes/Helvetica\ .Black\ Oblique.otf);
}

body{
    margin: 0px;
    background-color: $color-negro !important;
    font-family: $font-general !important;
}

html{
    font-size: 16px;
}

/* Estilos del Footer */

footer{
    display: flex;
    justify-content: space-between;
    border-top: 0.1px ridge gray;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $color-negro;
    nav ul {
        display: flex;
    }
    p {
        font-weight: 100;
        text-shadow: $sombra-estandar; 
    }
}

.footer-item{
    padding-top: 4px;
}

/* Fin de Estilos del Footer */

.logo-youtube{
    margin-top: 1px;
}

.redes-sociales{
    float: right;
}

.caja-flex{
    display: flex;
}

.fullHeight {
    position: absolute;
    top: 0;
    bottom: 0;
}

@media screen and (max-width: 991px){
    footer{
        justify-content: center;
    }
    .navbar-hamburguesa{
    width: 100%;
    display: flex;
    justify-content: space-between;
    }
    .navbar-espaciado{
        padding-left: 0px;
    }
    .navbar-secciones{
        padding-left: 0px;
    }
}

@media screen and (max-width: 600px) {
    html{
        font-size: 12px;
    }
    .tamaño-video{
        @include sizes(100%, 250px);
    }
    .video-grande{
        @include sizes(100%, 250px);
    }
    .video-centrado{
        text-align: center;
    }
}

@media screen and (min-width: 601px) and (max-width: 991px) {
    html{
        font-size: 13px;
    }
}

@media screen and (min-width: 601px) {
    .tamaño-video{
        @include sizes(100%, 370px);
    }
}

@media screen and (min-width:991px) {
    .video-grande{
        @include sizes(60%, 400px);
    }
    .video-grande-centrado{
        text-align: center;
    }
    .navbar-espaciado{
        padding-left: 30px;
    }
    .navbar-secciones{
        padding-left: 52px;
    }
}