.boton-contacto{
    border: outset;
    border-color: $color-negro;
    &:hover{
        transform: scale(1.05);
        transition: transform 0.5s;
    }
    &:not(:hover){
        transform: scale(1);
        transition: transform 0.5s;
    }
}

.boton-personaje{
    margin-top: 12px;
    background-color: white;
    border-radius: 8px;
    border: groove;
    height: 35px;
    color: $color-negro;
    font: {
        weight: lighter;
        family: $font-general;
        size: 0.8rem;
    }
    &:hover{
        background-color:#333847;
        border-color: #000B11;
        transform: scale(1.09);
        transition: background-color 0.5s, border-color 0.5s, transform 0.5s;
    }
    &:not(:hover){
        transform: scale(1);
        transition: transform 0.5s;
    }
}

