/* Estilos de NavBar */

.navbar-negro{
    background-color: $color-negro;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.logo-navbar{
    width: 57px;
    margin: -12px 0px;
    &:hover{
        opacity: 0.7;
        transform: rotate(360deg);
        transition: transform 0.9s;
    }
}

.red-social:hover{
    opacity: 0.7;
    transform: rotate(360deg);
    transition: transform 1s;
}

.nav-seleccionada{
    text-decoration: underline !important;
    text-decoration-color: #6A797E !important;
    text-decoration-thickness: 2px !important;
}

/* Fin de Estilos de NavBar */